.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;

  background:linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
  ),
  url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");

  background-size:cover;
  background-position:center;

  color:white;
}

.hero h1{
font-size:clamp(2.3rem,5vw,3.8rem);
  margin-bottom:20px;
}

.hero p{
  font-size:24px;
  margin-bottom:20px;
}

.hero button{
  padding:15px 30px;
  border:none;
  border-radius:10px;
  background:#ffb300;
  cursor:pointer;
}

@media (max-width: 768px){

  .hero{
    height:70vh;
    padding:20px;
  }

  .hero h1{
    font-size:36px;
    line-height:1.2;
  }

  .hero p{
    font-size:20px;
  }

  .hero button{
    padding:12px 24px;
  }
}